h2 {
    margin-top: 4%;
    font-size: 30px;
}

.first-result-container {
    margin-top: 3%;
    display: flex;
    align-items: center;
}

.first-result-img {
    max-width: 200px;
    margin-right: 20px;
}

.comparison-header {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    font-weight: bold;
}

.sold-by-header{
    margin-left: 64px;
}

.item-price-header {
    position: relative;
    right: 111px; /* Adjust this value to move the price header to the left */
}

.seller-result-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee; 
}

.seller-text-container {
    display: flex;
    align-items: center;
}

.seller-text-container span {
    width: 545px;
    text-align: left;
}


.other-seller-img {
    max-width: 100px;
    margin-right: 20px;
}
