.logo-container {
    display: flex;              
    justify-content: center;    
    align-items: center;        
    gap: 20px;                           
}

.amazon-logo {
    position: relative;
    top: 8px;
    width: 100px;
}

.reverb-logo {
    width: 100px;   
}

.ebay-logo {
    width: 100px;   
}