.searchForm {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 21%;
}

.search-button {
    margin: 10px; /* Fixed margin */
    padding: 10px 20px; /* Fixed padding for better control */
    color: var(--white);
    background-color: var(--orange);
    font-size: 16px; /* Fixed font size */
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 2px solid var(--tan-2); /* Fixed border width */
    border-radius: 5px; /* Fixed border radius */
    outline: none;
    cursor: pointer;
    color: white;
}