nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

.nav-title {
    flex: 1; 
    text-align: left; 
    text-decoration: none;
}



.nav-links span {
    margin-right: 10px; 
}